.cid-qtIQ6uBjrA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-qtIQ6uBjrA .content {
    text-align: center;
  }
  .cid-qtIQ6uBjrA .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-qtIQ6uBjrA .img-logo img {
  height: 6rem;
}
.cid-qtIQ6uBjrA [type="email"] {
  font-size: .75rem;
  margin-bottom: 5px;
  text-align: center;
  min-width: 150px;
}
.cid-qtIQ6uBjrA .input-group-btn {
  display: inline-block;
}
.cid-qtIQ6uBjrA .input-group-btn a.btn {
  margin: 0 !important;
}
.cid-qtIQ6uBjrA .input-group {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-qtIQ6uBjrA [type="submit"] {
  padding: .75rem 1.5625rem !important;
  margin-left: .625rem;
  text-transform: none;
}
.cid-qtIQ6uBjrA .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.cid-qtIQ6uBjrA .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qtIQ6uBjrA .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qtIQ6uBjrA .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qtIQ6uBjrA .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qtIQ6uBjrA .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-qtIQ6uBjrA .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qtIQ6uBjrA .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qtIQ6uBjrA form .input-group input.form-control,
.cid-qtIQ6uBjrA form .input-group-btn .btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.cid-qtIQ6uBjrA .form-inline {
  justify-content: center;
}
.cid-qtIQ6uBjrA .form-group {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-qtIQ6uBjrA .foot-logo {
    text-align: center !important;
  }
  .cid-qtIQ6uBjrA .foot-title {
    text-align: center !important;
  }
  .cid-qtIQ6uBjrA .mbr-text {
    text-align: center !important;
  }
}
#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
